<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace=绑定一个对应的Mapper接口-->
<!--
id:对应的namespace中的方法名
resultType:Sql语句执行的返回值
parameterType:参数类型
-->
<mapper namespace="dao.UserMapper">
    <!--查询全部用户    -->
    <select id="getUserList" resultType="pojo.User">
        select * from mybatis.user
    </select>
    <!--通过ID查询    -->
    <select id="getUserById" resultType="pojo.User" parameterType="int">
        select * from mybatis.user where id = #{id}
    </select>
    <select id="getUserById01" resultType="pojo.User" parameterType="map">
        select * from mybatis.user where id = #{id} and name=#{name}
    </select>
    <!--增加用户    -->
    <!--对象中的属性可以直接取出来    -->
    <insert id="addUser" parameterType="pojo.User">
        insert into mybatis.user(id,name,password) values (#{id},#{name},#{password});
    </insert>
    <insert id="addUser01" parameterType="map">
        insert into mybatis.user(id,name,password) values (#{userid},#{username},#{pwd});
    </insert>
    <!--修改用户    -->
    <update id="updateUser" parameterType="pojo.User">
        update mybatis.user set name=#{name},password=#{password} where id=#{id};
    </update>
    <!--删除用户   -->
    <delete id="deleteUser">
        delete from mybatis.user where id=#{id};
    </delete>

    <!--模糊查询-->
    <select id="getUserLike" parameterType="String" resultType="pojo.User">
        select * from mybatis.user where name like  #{value}
    </select>

</mapper>